
.universities{
    min-height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.query{
    min-height: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.pagination{
    min-height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}